fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]   # JWT
passlib[bcrypt]             # hash de senha (caso precise login de usuários)
python-multipart            # upload de arquivos
